[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
zmq = "*"
requests = "==2.18.4"
pyzmq = "==18.1.0"
Flask = "==1.0.2"
Flask-Cors = "==3.0.8"
PyYAML = "==5.1.2"
validators = "==0.12.4"

[requires]
python_version = "3.6"
