-i https://pypi.org/simple/
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
decorator==5.0.7
flask-cors==3.0.9
flask==1.1.1
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pyyaml==5.1.2
pyzmq==18.1.0
requests==2.22.0
six==1.16.0
urllib3==1.25.11
validators==0.14.0
werkzeug==1.0.1
zmq==0.0.0
