certifi==2019.9.11
chardet==3.0.4
Click==7.0
decorator==4.4.1
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
six==1.13.0
urllib3==1.26.5
validators==0.14.0
Werkzeug==0.16.0
zmq==0.0.0
